.box {
    border: 20px dashed red;
    height: 400px;
    width: 400px;
    background-image: url("woman.jpg");
    background-color: aquamarine;
    /* background-repeat: no-repeat */
    /* background-size: cover; contain */
    /* background-size: cover;
    background-position: bottom right;  */
    padding: 30px;
    background-clip: content-box;
    float: left;
}

.gradients {
    border: 2px solid black;
    height: 400px;
    width: 400px;
    display: inline-block;
    /* background-image: linear-gradient(130deg, red, blue, green); */
    /* background-image: radial-gradient(ellipse, red, blue); */
    background: url("peacock.png") no-repeat center/200%;
}