:root {
    --card-color: #87bdd8;
}

.enter-credentials {
    display: flex;
    flex-direction: column;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d8dcdf;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    width: 400px;
    height: 500px;
    background-color: var(--card-color);
    border-radius: 10px;
    position: relative;
}

.create-btn {
    position: absolute;
    bottom: 20px;
    width: 200px;
    height: 50px;
    border: 1px solid black;
    border-radius: 5px;
}

.enter-credentials .project-name-input input {
    display: inline-block;
}

.enter-credentials .project-name-input {
    display: inline-block;
    width: 60%;
    margin-bottom: 25px;
}

.enter-credentials .project-description-label #project-description-input {
    width: 95%;
    height: 200px;
    max-height: 75%;
    margin: 5px auto;
    background-color: white;
    overflow-y: auto;
    resize: vertical;
}

.enter-credentials .project-created-by-label {
    margin: 20px 0 20px 0;
}